.env
*.sql
vendor/
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.vscode/
node_modules/
npm-debug.log
yarn-error.log
public/storage
status.txt
git_status.txt
ssh_v.txt
net_test.txt
commit_log.txt
status_full.txt
status_ps.txt
